<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JournalHospOut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="conPath" value="D:\d\vipisnoi\JournalHospOut_copy2.accdb"/>
    <add key="rowCountOnList"  value="10"/>
    <add key="contConditions" value="3"/>
    <add key="condition" value="A00, B99, E90, E90;
                                A15, A19;
                                C00, D48;
                                C00, D97;
                                D50, D89;
                                E00, E89, E90, E90;
                                E10, E14;
                                F00, F99;
                                G00, G98, G99, G99;
                                H00, H59;
                                H60, H95;
                                I00, I99;
                                I20, I25;
                                I60, I69;
                                J00, J98, J99, J99;
                                J00, J01, J04, J06;
                                J09, J09, J11, J11;
                                J12, J18;
                                K00, K92, K93, K93;
                                L00, L99;
                                M00, M99;
                                N00, N99;
                                O00, O99;
                                Q00, Q99;
                                S00, T98;
                                A00, Z99;
                                O03, O08;
                                Z75, Z75"/>
  </appSettings>
  <userSettings>
    <JournalHospOut.Properties.Settings>
      <setting name="Параметр" serializeAs="String">
        <value />
      </setting>
    </JournalHospOut.Properties.Settings>
  </userSettings>
</configuration>